.modal {
  display: flex;
  width: 640px;
  height: 100%;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  display: none;
}
.modal.active {
  position: fixed;
  width: 100%;
  background-color: rgb(black, 0.6);
  display: flex;
  left: 0;
  top: 0;
}
.form__modal {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 640px;
  display: flex;
  flex-direction: column;
}
